<span class="span3" style="font-size: 13px; margin-top: -55px; padding-top: 0px; margin-bottom: 0px; padding-bottom: 0px;">
    <h4 id="nav">Наши услуги</h4>
    <ul id="nav">
        {% for cat, product in products %}
            <li style="margin-top: 15px;">
                <p>{{ cat }}</p>
                <ul>
                    {% for service in product %}
                        <li><a href="{{ path( 'show_product',  { 'id' : service.id } ) }}">{{service.name}}</a></li>
                    {% endfor %}
                </ul>
            </li>
        {% endfor %}
    </ul>
</span>