<span class="span3" style="font-size: 13px;">
    <h4 id="nav">Каталог услуг</h4>
    <ul id="nav">
        {% for cat, product in products %}
            <li>
                <p>{{ cat }}</p>
                <ul>
                    {% for service in product %}
                        <li><a href="{{ path( 'show_product',  { 'id' : service.id } ) }}">{{service.name}}</a></li>
                    {% endfor %}
                </ul>
            </li>
        {% endfor %}
    </ul>
</span>