<span class="span3">
    <ul>
        {% for cat, product in products %}
            <li>
                <a href="#">{{ cat }}</a>
                <ul>
                    {% for service in product %}
                        <li><a href="{{ path( 'show_product',  { 'id' : service.id } ) }}">{{service.name}}</a></li>
                    {% endfor %}
                </ul>
            </li>
        {% endfor %}
    </ul>
</span>