{% extends '::base.html.twig' %}
{% block body %}
    {% include '::navleft.html.twig' %}
    <div class="span10">
        <!-- #BeginEditable "MainContentArea" -->
                <h3>Main Content Area</h3>
                {% include 'TsmCatalogBundle:Static:main.html.twig' %}
        <!-- #EndEditable -->
    </div>
{% endblock %}