{% extends '::base.html.twig' %}
{% block title %}Компания "ТеплоСтройМонтаж"{% endblock %}
{% block page_title %}Компания "ТеплоСтройМонтаж"{% endblock %}
{% block body %}
    {% include '::navleft.html.twig' %}
    <div class="span9">
        <!-- #BeginEditable "MainContentArea" -->
                <h3>Main Content Area</h3>
                {% include 'TsmCatalogBundle:Static:main.html.twig' %}
        <!-- #EndEditable -->
    </div>
{% endblock %}