{% extends '::base.html.twig' %}
{% block title %}Список услуг{% endblock %}
{% block body %}
<span class="span2"></span>
<span class="span10">
        <h1 id="title">Услуги</h1>
        {% for product in products %}
    <div class="row-fluid show-grid">
            <span class="span2" style="word-wrap: break-word; border-radius: 10px;">
                {{ product.name }}
            </span>
            <span class="span10">    {#{ product.price }#}
                {{ product.descr }}
            </span>
                </div>
            {#{ product.category.name }#}
        {% endfor %}

</span>

{% endblock %}