{% extends '::base.html.twig' %}
{% block body %}
{% include '::navleft.html.twig' %}
<span class="span9">
    {{ service.name }}
    {{ service.price }}
    {{ service.descr }}
    {{ service.category.name }}
</span>
{% endblock %}