{# empty Twig template #}
{% extends '::base.html.twig' %}
{% block title %} О компании {% endblock %}
{% block page_title %} О компании {% endblock %}
{% block body %}
{% include '::navleft.html.twig' %}
<span class="span9" style="margin-left: 17px;">
    <p>
     ООО  «<b>ТеплоСтройМонтаж</b>» основанное в  2011 году - одна из наиболее динамично развивающихся компаний в отрасли теплоэнергетики. <br />
     С начала основания  компания  успела зарекомендовать себя высоким качеством оказываемых услуг и высококвалифицированными специалистами, которые постоянно повышают свой профессиональный уровень.  <br />
     Компания постоянно стремится к росту качества оказываемых услуг.  <br />
     Мы настроены на долгосрочное сотрудничество, поэтому мы дорожим каждым партнером и готовы помочь в решении любых вопросов и проблем в нашей сфере деятельности. <br />
<br />
    Генеральный директор :  Тимофеев Александр Викторович.

    </p>
    </span>
{% endblock %}
