{# empty Twig template #}
{% extends '::base.html.twig' %}
{% block title %} О компании {% endblock %}
{% block page_title %} О компании {% endblock %}
{% block body %}
{% include '::navleft.html.twig' %}
<span class="span9" style="margin-left: 17px;">
    <p>
        ООО «ТеплоСтройМонтаж» работает в сфере теплоэнергетики с января 2011 года.
        Молодая, но быстро развивающаяся компания.
        За это время наша компания успела зарекомендовать себя как честный, добросовестный Подрядчик,
        который ценит Ваше время и деньги.
        ООО «ТеплоСтройМонтаж» - это команда высококвалифицированных специалистов.
        Сфера деятельности:
        <ul style="list-style: disc;">
            <li>монтаж и пуско-наладка котельного оборудования и систем отопления; </li>
            <li>проектирование, реконструкция, монтаж тепловых пунктов; </li>
            <li>пуско-наладка и обслуживание систем ЦО, ГВС, ХВС и канализации. </li>
        </ul>
        Среди организаций, находящихся на обслуживании ООО «ТеплоСтройМонтаж»:
            <ul style="list-style: disc;">
                <li>Министерство промышленности и торговли Российской Федерации</li>
                <li>ФБУ «УАЗ Минэкономразвития России»</li>
                <li>Государственное Унитарное Предприятие Международный Научный и Клинический центр "Интермедбиофизхим"</li>
                <li>ОАО «МОЭСК»</li>
                <li>Федеральное государственное бюджетное учреждение «Научный центр неврологии» Российской академии медицинских наук</li>
                <li>Федеральное казенное предприятие "Российская государственная цирковая компания"</li>
                <li>управляющие компании (ТСЖ и ДЕЗы)</li>
                <li>сеть магазинов «Пятерочка» </li>
                <li>и др.</li>
            </ul>

        Генеральный директор: Тимофеев Александр Викторович. 8(903)968-72-07            

        
Наш Адрес: 2-ой Гончарный пер., д. 6 , корп. 4, офис 307        
                  тел. 8(495) 915-56-87
        <a href="mailto:ts_montag@mail.ru">ts_montag@mail.ru</a>

    </p>
    </span>
{% endblock %}
