{# empty Twig template #}
{% extends '::base.html.twig' %}
{% block title %}Контакты{% endblock %}
{% block page_title %}Контакты{% endblock %}
{% block body %}
{% include '::navleft.html.twig' %}
<span class="span9">
<p>
    ООО «ТеплоСтройМонтаж» работает в сфере теплоэнергетики с января 2011 года.
    Молодая, но быстро развивающаяся компания.
    За это время наша компания успела зарекомендовать себя как честный, добросовестный Подрядчик,
    который ценит Ваше время и деньги.
    ООО «ТеплоСтройМонтаж» - это команда высококвалифицированных специалистов.
    Сфера деятельности:
    <ul>
        <li>монтаж и пуско-наладка котельного оборудования и систем отопления; </li>
        <li>проектирование, реконструкция, монтаж тепловых пунктов; </li>
        <li>пуско-наладка и обслуживание систем ЦО, ГВС, ХВС и канализации. </li>
    </ul>
    Среди организаций, находящихся на обслуживании ООО «ТеплоСтройМонтаж»: 
        <ul>
            <li>Министерство промышленности и торговли Российской Федерации</li>
            <li>ФБУ «УАЗ Минэкономразвития России»</li>
            <li>Государственное Унитарное Предприятие Международный Научный и Клинический центр "Интермедбиофизхим"</li>
            <li>ОАО «МОЭСК»</li>
            <li>Федеральное государственное бюджетное учреждение «Научный центр неврологии» Российской академии медицинских наук</li>
            <li>Федеральное казенное предприятие "Российская государственная цирковая компания"</li>
            <li>управляющие компании (ТСЖ и ДЕЗы)</li>
            <li>сеть магазинов «Пятерочка» </li>
            <li>и др.</li>
        </ul>

    Генеральный директор : Тимофеев Александр Викторович. 8(903)968-7207 ( на страницах где описание работ и если писать телефон по техническим вопросам писать этот номер)

    Наш Адрес: <address>2-ой Гончарный пер., д. 6 , корп. 4, офис 307</address>
    тел. 8(495) 915-56-87
    <a href="mailto:ts_montag@mail.ru">ts_montag@mail.ru</a>

</p>
<!-- Этот блок кода нужно вставить в ту часть страницы, где вы хотите разместить карту (начало) -->
<div id="ymaps-map-id_136260630476185113397" style="width: 600px; height: 444px;"></div>
<div style="width: 600px; text-align: right;"><a href="http://api.yandex.ru/maps/tools/constructor/index.xml" target="_blank" style="color: #1A3DC1; font: 13px Arial, Helvetica, sans-serif;">Создано с помощью инструментов Яндекс.Карт</a></div>
<script type="text/javascript">
function fid_136260630476185113397(ymaps) {
    var map = new ymaps.Map("ymaps-map-id_136260630476185113397", {
        center: [37.649196760120965, 55.74010114178916],
        zoom: 17,
        type: "yandex#map"
    });
    map.controls
        .add("zoomControl")
        .add("mapTools")
        .add(new ymaps.control.TypeSelector(["yandex#map", "yandex#satellite", "yandex#hybrid", "yandex#publicMap"]));
    map.geoObjects
        .add(new ymaps.Placemark([37.64919246865207, 55.739756037008036], {
            balloonContent: 'ООО "ТеплоСтройМонтаж"'
        }, {
            preset: "twirl#lightblueDotIcon"
        }));
};
</script>
<script type="text/javascript" src="http://api-maps.yandex.ru/2.0-stable/?lang=ru-RU&coordorder=longlat&load=package.full&wizard=constructor&onload=fid_136260630476185113397"></script>
<!-- Этот блок кода нужно вставить в ту часть страницы, где вы хотите разместить карту (конец) -->
</span>
{% endblock %}
