{# empty Twig template #}
{% extends '::base.html.twig' %}
{% block title %}Наши клиенты{% endblock %}
{% block page_title %}Наши клиенты{% endblock %}
{% block body %}
{% include '::navleft.html.twig' %}
<span class="span9" style="padding-left: 30px;" id="partners">
<div class="row show=grid"><p>На нашем обслуживании находятся более 400 объектов по всей Москве.

Некоторые из них:</p>
</div>
        <div class="row show-grid">
            <span class="span6">
                <a href="http://economy.gov.ru/" target="_blank"><img src="/uploads/partners/mer.png"></a>
            </span><span class="span6">
                <a target="_blank" href="http://www.rosfinnadzor.ru/"><img style="height: 205px;" src="/uploads/partners/fsfbn.png"></a>
            </span>
        </div>
		<div class="row show-grid">
            <span class="span3">
                <a href="http://www.udprf.ru/" target="_blank"><img src="/uploads/partners/prezident.png" style="width: 210px; height: 190px;"></a>
            </span>
  <span class="span3">
                <a target="_blank" href="http://minpromtorg.gov.ru/"><img style="height: 190px;" src="/uploads/partners/minpromtorg.png"></a>
            </span>
  <span class="span3">
                <a target="_blank" href="http://www.mosgorsad.ru/"><img style="" src="/uploads/partners/garden.png"></a>
            </span>
  <span class="span3">
                <a target="_blank" href="http://www.circus.ru/"><img style="width: 206px; height: 190px;" src="/uploads/partners/roscircus.png"></a>
            </span>
            
        </div><div class="row show-grid">
            <span class="span3">
                <a target="_blank" href="http://www.gitis.net/"><img src="/uploads/partners/gitis.png" style="height: 206px;"></a>
            </span>
  <span class="span3">
                <a href="http://www.teatrkinoaktera.ru/" target="_blank"><img src="/uploads/partners/theatre.png" style="height: 206px; width: 209px;"></a>
            </span>
  <span class="span3">
                <a href="http://folkteatr.ru/" target="_blank"><img src="/uploads/partners/russong.png" style=""></a>
            </span>
  <span class="span3">
                <a href="http://www.leader-invest.ru/" target="_blank"><img src="/uploads/partners/lider.png" style=""></a>
            </span>
            
        </div><div class="row show-grid">
            <span class="span3">
                <a href="http://transaero.ru/" target="_blank"><img src="/uploads/partners/transaero.png" style="height: 220px;"></a>
            </span>
  <span class="span3">
                <a target="_blank" href="http://www.kamaz.ru/"><img style="height: 220px; width: 205px;" src="/uploads/partners/kamaz.png"></a>
            </span>
  <span class="span3">
                <a target="_blank" href="http://www.mosreactiv.ru/"><img style="height: 220px; width: 209px;" src="/uploads/partners/mosreactiv.png"></a>
            </span>
  <span class="span3">
                <a target="_blank" href="http://www.mosavtodor.ru/"><img style="height: 220px;" src="/uploads/partners/mosautodor.png"></a>
            </span>
            
        </div><div class="row show-grid">
            <span class="span5">
                <a href="http://amwine.ru/" target="_blank"><img src="/uploads/partners/am.png" style="height: 165px;"></a>
            </span>
  <span class="span3">
                <a target="_blank" href="http://loilshina.ru/"><img style="height: 165px; margin-left: 0px;" src="/uploads/partners/loil.png"></a>
            </span>
  <span class="span4">
                <a target="_blank" href="http://www.rzd.ru/"><img style="width: 285px; height: 165px;" src="/uploads/partners/railways.png"></a>
            </span>
              
        </div><div class="row show-grid">
            <span class="span6">
                <a target="_blank" href="http://www.medical-mid.ru"><img src="/uploads/partners/midmed.png"></a>
            </span><span class="span6">
                <a href="http://www.neurology.ru/" target="_blank"><img src="/uploads/partners/neuro.png" style="height: 112px;"></a>
            </span>
            
        </div><div class="row show-grid">
            <span class="span6">
                <a target="_blank" href="http://mosinzhproekt.ru/"><img src="/uploads/partners/mip.png" style="height: 112px;"></a>
            </span><span class="span6">
                <a href="http://www.bfgbank.ru/" target="_blank"><img src="/uploads/partners/bfg.png" style="height: 112px;"></a>
            </span>
            
        </div><div class="row show-grid">
            <span class="span6">
                <a target="_blank" href="http://x5.ru/"><img src="/uploads/partners/x5.png" style="height: 105px;"></a>
            </span><span class="span6">
                <a href="http://nestro.ru/ru/" target="_blank"><img src="/uploads/partners/zbn.png" style="height: 105px;"></a>
            </span>
            
        </div>

    </span>
{% endblock %}
