/* 
    Document   : main
    Created on : Mar 7, 2013, 1:22:14 AM
    Author     : rutrader
    Description:
        Purpose of the stylesheet follows.
*/

body {
    background-color: #bbbbbb;
}

.logo-name {
    background-color: #a70330;
    color: #FFFFFF;
/*    border-radius: 15px 15px 15px 15px;*/
    text-align: center;
}
#main_container {
    width: 1250px;
    padding-top: 15px;
    padding-bottom: 20px;
    margin: 10px auto 0;
    background-color: #FFFFFF;
    border-radius: 15px;
}

.show-grid {
    margin-top: 10px;
    margin-bottom: 20px;
}

form.contact { font-size: 16px; }
form.contact div { clear: left; margin-bottom: 10px; }
form.contact label { float: left; margin-right: 10px; text-align: right; width: 200px; font-weight: bold; vertical-align: top; padding-top: 10px; }
form.contact input[type="text"],
form.contact input[type="email"]
    { width: 500px; line-height: 26px; font-size: 20px; min-height: 26px; }
form.contact textarea { width: 500px; height: 150px; line-height: 26px; font-size: 20px; }
form.contact input[type="submit"] { margin-left: 0px; line-height: 26px; min-height: 26px; }
form.contact ul li { color: #ff0000; margin-bottom: 5px; }

input[type="submit"] { margin-left: 0px; line-height: 26px; min-height: 26px; }

#Contact_captcha {
    width: 350px    !important;
    margin-left:    20px    !important;
}

#logo {
    background: url("/img/banner.png") no-repeat scroll 0px center transparent;
    /*border-radius: 15px 15px 15px 15px;*/
    height: 120px;
    background-color: #fff;
}

h1#title {
    color: #a70330;
    font-weight: normal;
    padding-left: 26%;
    padding-bottom: 15px;
}

a {
    text-decoration: underline;
}

ul {
    list-style: none;
    margin-bottom: 15px;
}

li {
    margin-bottom: 15px;
}