{% extends '::base.html.twig' %}
{% block body %}
	<table width="760" border="0" cellspacing="0" cellpadding="0">
		<tr>
			{% include '::navleft.html.twig' %}
			<td width="15"></td>
			<td align="left" valign="middle">
				<div align="center">
					<!-- #BeginEditable "MainContentArea" -->
						<h3>Main Content Area</h3>
					<!-- #EndEditable --></div>
			</td>
		</tr>
	</table>
{% endblock %}